<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wzy.yuka">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_radius"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/app_bar_style" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.NotFullActivity"></activity>

        <service
            android:name=".core.screenshot.ScreenShotService_Single"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".core.screenshot.ScreenShotService_Continue"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>